<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        {*<link rel="stylesheet" href="{$basePath}./css/style.css">*}
        <title>{ifset title}{include title|stripHtml} | {/ifset}BI-ZNF</title>

        {block css}{/block}
    </head>

    <body>
        <nav class="navbar navbar-default ">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">BI-ZNF Cvičení 5b</a>
                    <ul n:if="$user->loggedIn" class="nav navbar-nav navbar-right">
                        <li class="navbar-text">
                            Přihlášen jako {$user->identity->username}.
                        </li>
                    </ul>
                </div>
                <ul n:if="$user->loggedIn" class="nav navbar-nav navbar-right">
                    <li>
                        <a n:href="Sign:out">Odhlásit se</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            {ifset title}
                <h1 class="title text-center">
                    {include title}
                </h1>
                <hr>
            {/ifset}

            {if $user->loggedIn}
                <div class="col-xs-3">
                    {include menu.latte }
                </div>
                <div class="col-xs-9">
                    {include content}
                    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
                </div>
            {else}
                {include content}
            {/if}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="{$basePath}/js/nette.ajax.js"></script>
        <script src="{$basePath}/js/netteForms.js"></script>
        <script src="{$basePath}/libs/ipub.formDateTime.js"></script>
        <script>
            $(function(){
                $.nette.init();
            });
        </script>
    </body>
</html>
