<div class="list-group">
    <a href="{plink Homepage:default}"
            n:class="($presenter->isLinkCurrent('Homepage:*') ? active).' list-group-item'"
    >
        Homepage
    </a>
    <a href="{plink Employer:default}"
            n:class="($presenter->isLinkCurrent('Employer:*') ? active).' list-group-item'"
    >
        Zaměstnanci
    </a>
    <a href="{plink Pid:default}"
            n:class="($presenter->isLinkCurrent('Pid:*') ? active).' list-group-item'"
            n:if="$user->isAllowed('Pid', 'default')"
    >
        Rodná čísla
    </a>
    <a href="{plink Company:default}"
            n:class="($presenter->isLinkCurrent('Company:*') ? active).' list-group-item'"
    >
        Firmy
    </a>
    <a href="{plink Statistic:default}"
            n:class="($presenter->isLinkCurrent('Statistic:*') ? active).' list-group-item'"
            n:if="$user->isAllowed('Statistic', 'default')"
    >
        Statistiky
    </a>
</div>
