{block title}
    6. Cvičení (11.5)
{/block}
{block content}
    <p><strong>Varianta B projektu pro páté cvičení předmětu BI-ZNF.</strong></p>
    <p><code>git clone git@gitlab.fit.cvut.cz:BI-ZNF/cviceni04b.git</code></p>
    <ol>
        <li>
            Použijte Vaši předchozí úlohu nebo si naklonujte a nainstalujte předchozí (příkaz „composer install“) projekt 04b do vašeho lokálního adresáře.
        </li>

        <li>
            Vytvořte si databázovou strukturu (MySQL) podle přítomného SQL scriptu a nastavte přístup k dané databázi v konfiguračním souboru („app/config/config.local.neon“)
        </li>

        <li>
            Vytvořte jednotkový test pro otestování správné validace rodného čísla
        </li>

        <li>
            Vytvořte jednotkový testy modelu pro vkládání, editaci a mazání zaměstnanců.
        </li>

        <li>
            Nahraďte tabulky se seznamem zaměstnanců (Employer) libovolným rozšířením (např. Nextras/Datagrid)
        </li>

        <li>
            Přidejte do libolného formuláře nový formulářový prvek (získaný jako rozšíření) (např. multichoice, catpcha)
        </li>
    </ol>
{/block}

