{block title}
    Vložení zaměstnance
{/block}

{block content}
    <div class="panel panel-default">
        <div class="panel-body">
            {snippet employer}
                {control addForm}
            {/snippet}
        </div>
        <div class="panel-footer">
            <a href="{plink default}">Zpět</a>
        </div>
    </div>
{/block}