{block title}
    Zaměstnanci
{/block}

{block #content}
    {control simpleGrid}
    <div n:if="$user->isAllowed('Employer', 'add')" class="panel-footer">
        <a class="btn btn-success" href="{plink add}">Vytvoř</a>
    </div>
</div>

