{block title}
    Rodná čísla
{/block}

{block #content}
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="panel panel-default ">
            <table class="table">
                <thead>
                    <tr>
                        <th>Rodné číslo</th>
                        <th class="text-right">Akce</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $pids as $pid}
                        <tr>
                            <td>
                                {if !($utility->isCorrectPid($pid['name']))}
                                    <strong class="red">!! {$pid['name']}</strong>
                                {else}
                                    {$pid['name']}
                                {/if}
                            </td>
                            <td>
                                <div class="btn-group pull-right" role="group">
                                    <a class="btn btn-warning btn-xs" href="{plink edit id => $pid['id']}">Edituj</a>
                                    <a class="btn btn-danger btn-xs" href="{plink delete id => $pid['id']}">Odeber</a>
                                </div>
                            </td>
                        </tr>
                    {/foreach}
                </tbody>
            </table>
            <div class="panel-footer">
                <a  class="btn btn-success" href="{plink add}">Vytvoř</a>
            </div>
        </div>
    </div>
</div>
