{block title}
    Editace rodného čísla {$name}
{/block}

{block content}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    {snippet pid}
                        {control editForm}
                    {/snippet}
                </div>
                <div class="panel-footer">
                    <a href="{plink default}">Zpět</a>
                </div>
            </div>
        </div>
    </div>
{/block}