{block title}
    Firmy
{/block}
{block #content}
{var editAndDelete = $user->isAllowed('Company','edit') && $user->isAllowed('Company','delete')}
<div class="panel panel-default">
    <table class="table">
        <thead>
            <tr>
                <th class="col-xs-2">Jméno</th>
                <th class="col-xs-3">Registrace</th>
                <th class="col-xs-2">Je plátce DPH?</th>
                <th class="col-xs-2">Telefon</th>
                <th n:if="$editAndDelete" class="col-xs-3">Akce</th>
            </tr>
        </thead>
        <tbody>

            {foreach $companies as $c}
                <tr>
                    <td>{$c->name}</td>
                    <td>{$c->registered|date: 'd.m.Y - h:i:s'}</td>
                    <td>{$c->is_dph ? 'Ano' : 'Ne'}</td>
                    <td>
                        {if !($utility->filterPhone($c->phone))}
                            <strong class="red">!! {$c->phone}</strong>
                        {else}
                            {$utility->filterPhone($c->phone)}
                        {/if}
                    </td>
                    <td n:if="$editAndDelete">
                        <div class="btn-group">

                            <a n:if="$user->isAllowed('Company','edit')" class="btn btn-xs btn-warning" href="{plink edit id => $c->id}">Edituj</a>
                            <a n:if="$user->isAllowed('Company','delete')" class="btn btn-xs btn-danger" href="{plink delete id => $c->id}">Odeber</a>
                        </div>
                    </td>
                </tr>
            {/foreach}
        </tbody>
    </table>

    <div n:if="$user->isAllowed('Company','add')" class="panel-footer">
        <a class="btn btn-success" href="{plink add}">Vytvoř</a>
    </div>
</div>
