{block title}
    Editace firmy {$name}
{/block}
{block content}
    <div class="panel panel-default">
        <div class="panel-body">
            {snippet company}
                {control editForm}
            {/snippet}
        </div>
        <div class="panel-footer">
            <a href="{plink default}">Zpět</a>
        </div>
    </div>
{/block}