{var $robots = noindex}

{block title}
    Přihlášení
{/block}

{block content}
<style>
    .sign-in-form {
        max-width: 400px;
        padding: 15px;
        margin-right: auto;
        margin-left: auto;
    }
</style>
<div class="well sign-in-form">

    {form signInForm}
        <div n:foreach="$form->controls as $name => $field" class="form-group">
            {label $name /}
            {input $name class => "form-control"}
            <div class="has-error" n:ifcontent>{inputError $name}</div>
        </div>
    {/form}

    <p class="help-block">Jmeno delnika je
        <i>delnik</i> a heslo: <i>delnik</i>
    </p>
    <p class="help-block">Jmeno sefa je <i>sef</i> a heslo: <i>sef</i></p>
</div>
