{block title}
    Statistiky
{/block}

{block #content}

{control statistic $employerID = 0}
{*<div class="panel panel-default">*}
    {*<table class="table table-condensed">*}
        {*<thead>*}
            {*<tr>*}
                {*<th>Firma</th>*}
                {*<th>Min. plat</th>*}
                {*<th>Max. plat</th>*}
                {*<th>Průměrný plat</th>*}
                {*<th>Celkový plat</th>*}
            {*</tr>*}
        {*</thead>*}
        {*<tbody>*}
            {*{foreach $statistics as $s}*}
                {*<tr>*}
                    {*<td>{$s['name']}</td>*}
                    {*<td>{$s['min']|number:2:'.':' '}</td>*}
                    {*<td>{$s['max']|number:2:'.':' '}</td>*}
                    {*<td>{$s['avg']|number:2:'.':' '}</td>*}
                    {*<td>{$s['sum']|number:2:'.':' '}</td>*}
                {*</tr>*}
            {*{/foreach}*}
        {*</tbody>*}
    {*</table>*}
{*</div>*}
